# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.python-version

# Project data (rebuildable)
data/processed
data/raw/2023-02-07-mp-computed-structure-entries
data/raw/2022-10-19-wbm-init-structs
wandb/

# Stray binaries
*.pkl
*.json.gz
*.csv.gz
*.zip
*.png
*.jpg
*.db
# OS / editor
.DS_Store
.idea/
.ipynb_checkpoints/

# Env
.env
venv
.venv
.venv*