# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.python-version

# Project data (rebuildable)
data/
wandb/

# Stray binaries
*.pkl
*.json.gz
*.csv.gz
*.zip
*.png
*.jpg
*.db
# OS / editor
.DS_Store
.idea/
.ipynb_checkpoints/

# Env
.env

.venv
.venv*